* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(0deg, rgba(77,190,238,1) 0%, rgba(255,255,255,1) 100%);
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dashboard {
    display: none;
    text-align: center;
    padding: 40px;
    border-radius: 8px;
    width: 100%;
    margin-top: 32px;
}

.dashboard h2 {
    font-size: 40px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.dashboard p {
    font-size: 20px;
    color: #666;
    margin-top: 20px;
}
